{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
<!--     bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<!--    css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>
                    <li>
                        <a href="/shop" class="nav-a m-3">Shop</a>
                    </li>
                </ul>
            </navbar>
            <div class="header-logo">
                <a href="/shop"><img src="{% static 'img/lotos.png' %}" alt="" class="heavy-logo" width="50" height="50"></a>
            </div>
            <div class="header-profile pt-2">
                <a href="{% url 'cart:cart_detail' %}"><img src="{% static 'img/shopping-cart.png' %}" class="grob"></a>
                <a href="#" class="m-2">LOGIN</a>
                <p class="cart-quantity">
                     {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            {{ cart_quantity }}
                        {% else %}
                            0
                        {% endif %}
                     {% endwith %}
                </p>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <img src="{% static 'img/right-up.png' %}" class="frame1" >
    <img src="{% static 'img/left-up.png' %}" class="frame2" >
    <img src="{% static 'img/left-down.png' %}" class="frame3" >
    <img src="{% static 'img/right-down.png' %}" class="frame4" >




<!--    js for bootstrap-->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>