{% extends 'kvetka/base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="detail-product d-flex">
        <div class="detail-img">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}" class="detail-image">
        </div>
        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Category: {{ product.category }}</h3>
            <p>Description: {{ product.description|linebreaks }}</p>
            {% if product.discount %}
            <div class="cart-discount d-flex gap-2">
                <p class="line">$ {{ product.price }}</p>
                <p>$ {{ product.sell_price }}</p>
            </div>
            {% else %}
                <p class="price">$ {{ product.price }}</p>
            {% endif %}
            <form action="{% url 'cart:cart_add' product.id %}" class="qform" method="post">
                <div class="cart-form">
                    {{ cart_product_form }}
                    {% csrf_token %}
                </div>
                <input type="submit" class="add-to-cart-btn" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock content %}